<section>
  <button class="add-clinic-button" (click)="navigate()">
    <mat-icon>add</mat-icon>
  </button>

  <div class="filters">
    <input
      type="text"
      placeholder="Pesquisar Clínica"
      [(ngModel)]="filterTerm"
    />
    <mat-form-field class="select">
      <mat-label>Selecione uma Especialidade</mat-label>
      <mat-select [(ngModel)]="specialty" name="specialty">
        <mat-option>Nenhum</mat-option>
        <mat-option
          *ngFor="let specialty of specialtyList"
          [value]="specialty"
          >{{ specialty }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <table class="table">
    <thead class="thead">
      <th class="thead_content" *ngFor="let thead of clinicsThead">
        {{ thead }}
      </th>
    </thead>
    <tbody class="tbody">
      <tr
        class="tbody_line"
        *ngFor="
          let clinic of clinicsInfos | filter: filterTerm | filter: specialty
        "
      >
        <td class="tbody_content">
          {{ clinic.nome }}
        </td>
        <td class="tbody_content">{{ clinic.cnpj }}</td>
        <td class="tbody_content">
          {{ clinic.especialidade }}
        </td>
        <td class="tbody_content">
          {{ clinic.telefone }}
        </td>
        <td class="tbody_content tbody_content_address">
          {{ clinic.endereco }}, {{ clinic.numero }}, {{ clinic.bairro }},
          {{ clinic.cidade }}-{{ clinic.estado }};
          {{ clinic.cep }}
        </td>
        <td class="tbody_content">{{ clinic.preco | currency }}</td>
        <td class="tbody_content">
          {{ clinic.status }}
        </td>
        <td class="tbody_content">
          Das {{ clinic.atendimento.inicio }} ás {{ clinic.atendimento.fim }}
          <mat-icon class="delete-icon" (click)="deleteClinic(clinic.id)"
            >delete_forever</mat-icon
          >
        </td>
      </tr>
    </tbody>
  </table>
</section>
