section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

input {
  margin: 20px 0;
  width: 50%;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 25px;
}

.table {
  text-align: center;
  position: relative;
  margin: 0 auto;
  background-color: white;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.thead {
  background-color: #e76076;
  position: relative;
  width: 100%;
}

.thead_content {
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;
  width: 500px;
  word-wrap: break-word;
  padding: 20px 0;
}

.thead_content:first-child {
  border-radius: 10px 0 0 0;
}

.thead_content:last-child {
  border-radius: 0 10px 0 0;
}

.tbody_content_address {
  width: 800px;
  line-height: 20px;
}

.thead:after {
  content: " ";
  height: 2px;
  background: rgb(0, 0, 0) 0000;
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
}

.tbody_line {
  margin-bottom: 10px;
  border-radius: 4px;
}

.tbody_line:hover {
  background-color: #fad5db;
  cursor: pointer;
}

.tbody_content {
  vertical-align: middle;
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #000000;
}

.delete-icon {
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.add-clinic-button {
  position: absolute;
  left: 0;
  border: none;
  background-color: #e76076;
  height: 70px;
  width: 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: 0.5s;
}

.add-clinic-button:hover {
  transition: 0.5s;
  transform: translate(-3px, -3px);

  filter: drop-shadow(3px 3px 2px #000000);
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.select {
  width: 300px;
  font-size: 20px;
}
