main {
  margin-top: 100px;
  padding: 0 70px;
}

header {
  background-color: #b24686;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 0 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1 {
  position: absolute;
  font-family: "Satisfy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  filter: drop-shadow(5px 5px 4px #000000);
}

header h2 {
  position: absolute;
  left: 0;
  right: 7%;
  margin: 0 auto;
  font-family: "Arvo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 49px;
  text-align: center;
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
}

header h2:hover {
  transition: 0.5s;
  transform: translate(-3px, -3px);

  filter: drop-shadow(3px 3px 2px #000000);
}

.add-clinic-button {
  position: absolute;
  border: none;
  background-color: #e76076;
  height: 70px;
  width: 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: 0.5s;
}

.add-clinic-button:hover {
  transition: 0.5s;
  transform: translate(-3px, -3px);

  filter: drop-shadow(3px 3px 2px #000000);
}

.active {
  display: none;
}
