section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50em;
}

.form-field_input {
  width: 50em;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}

.select {
  width: 40.5em;
  border-radius: 10px;
  font-size: 19px;
  margin-top: 10px;
}

.date-field {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.date-field .form-field_input {
  width: 20em;
}

.add-clinic-button {
  border: none;
  border-radius: 10px;
  background-color: #e76076;
  width: 200px;
  height: 50px;
  font-family: "Arvo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 49px;
  text-align: center;
  color: #3d234e;
  transition: 0.5s;
  cursor: pointer;
}

.add-clinic-button:hover {
  transition: 0.5s;
  font-size: 25px;

  box-shadow: inset 0 0 8px #000000;
}

@media (max-width: 768px) {
  .form-field_input {
    padding-left: 10px;
    font-size: 10px;
  }

  .form-field_input {
    width: 350px;
    padding-left: 10px;
    font-size: 15px;
  }

  .date-field .form-field_input {
    width: 150px;
  }

  .select {
    width: 365px;
    font-size: 15px;
    margin-top: 10px;
  }
}
