<section>
  <form ngNativeValidate (ngSubmit)="addClinic()">
    <input
      class="form-field_input"
      id="nome"
      placeholder="Nome Da Clínica"
      type="text"
      name="nome"
      required
      [(ngModel)]="nome"
    />

    <input
      class="form-field_input"
      id="cnpj"
      placeholder="CNPJ"
      type="text"
      name="cnpj"
      [(ngModel)]="cnpj"
      required
      mask="00.000.000/0000-00"
    />

    <input
      class="form-field_input"
      id="especialidade"
      placeholder="Especialidade"
      type="text"
      name="especialidade"
      required
      [(ngModel)]="especialidade"
    />

    <input
      class="form-field_input"
      id="telefone"
      placeholder="Telefone"
      type="text"
      name="telefone"
      [(ngModel)]="telefone"
      required
      mask="(00) 0000-00000"
    />

    <input
      class="form-field_input"
      id="cep"
      placeholder="CEP"
      type="text"
      name="cep"
      [(ngModel)]="cep"
      required
      mask="00000-000"
    />

    <input
      class="form-field_input"
      id="nome"
      placeholder="Nome da Rua"
      type="text"
      name="endereco"
      required
      [(ngModel)]="endereco"
    />

    <input
      class="form-field_input"
      id="numero"
      placeholder="Número do Endereço"
      type="number"
      name="numero"
      required
      [(ngModel)]="numero"
    />

    <input
      class="form-field_input"
      id="bairro"
      placeholder="Bairro"
      type="text"
      name="bairro"
      required
      [(ngModel)]="bairro"
    />

    <input
      class="form-field_input"
      id="cidade"
      placeholder="Cidade"
      type="text"
      name="cidade"
      required
      [(ngModel)]="cidade"
    />

    <input
      class="form-field_input"
      id="estado"
      placeholder="Estado (Sigla)"
      type="text"
      name="estado"
      required
      [(ngModel)]="estado"
      mask="AA"
    />

    <mat-form-field class="select">
      <mat-label>Selecione o Status</mat-label>
      <mat-select [(ngModel)]="status" name="status" required>
        <mat-option value="Ativo">Ativo</mat-option>
        <mat-option value="Inativo">Inativo</mat-option>
      </mat-select>
    </mat-form-field>

    <input
      class="form-field_input"
      id="preco"
      placeholder="Preco"
      type="text"
      name="preco"
      required
      mask="0*,00"
      [(ngModel)]="preco"
    />

    <div class="status-field">
      <input
        class="form-field_input"
        id="inicio"
        placeholder="Horario de Inicio do Atendimento"
        type="text"
        name="inicio"
        [(ngModel)]="inicio"
        required
        mask="00:00"
      />

      <input
        class="form-field_input"
        id="fim"
        placeholder="Horario do Fim do Atendimento"
        type="text"
        name="fim"
        [(ngModel)]="fim"
        required
        mask="00:00"
      />
    </div>
    <button class="add-clinic-button" type="submit">Adicionar</button>
  </form>
</section>

<!-- "id": 7,
"nome": "Laborial",
"cnpj": "95.261.818/0001-74",
"especialidade": "Exames Laboratóriais",
"telefone": "3585214793",
"cep": "65578971",
"endereco": "Rua Manoel Pereira",
"numero": 179,
"bairro": "Centro",
"cidade": "Água Doce do Maranhão",
"estado": "MA",
"status": "Ativo",
"preco": 144.9,
"atendimento": {
  "inicio": "09:00",
  "fim": "17:00"
} -->
